Repository sirfifer/voicelearn-ios: changes, and which Codecov flags are due for each by the changed paths.
All: ios, management, importer, web-client

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: auto
        threshold: 2%
        informational: false
      ios:
        flags:
          - ios
        target: 80%
      management:
        flags:
          - management
        target: 80%
      web-client:
        flags:
          - web-client
        target: 1%  # Temporary low threshold, increase to 70% as tests are added
    patch:
      default:
        target: 80%
        threshold: 5%

flags:
  ios:
    paths:
      - UnaMentis/
    carryforward: true
  management:
    paths:
      - server/management/
    carryforward: true
  importer:
    paths:
      - server/importers/
    carryforward: true
  web-client:
    paths:
      - server/web/
    carryforward: true

comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true
  hide_project_coverage: false

github_checks:
  annotations: true

ignore:
  # Debug-only code - development tools, not production critical
  - "UnaMentis/UI/Debug/**"
  # Test harness infrastructure - testing tests creates circular dependency
  - "UnaMentis/Testing/**"
  # App entry point - SwiftUI lifecycle, minimal testable logic
  - "UnaMentis/UnaMentisApp.swift"

feat: Implement enhanced Knowledge Bowl answer validation with new algorithms, ML models, and comprehensive testing.
  UnaMentis.xcodeproj/project.pbxproj
  UnaMentis/Core/Device/DeviceCapability.swift
  UnaMentis/Core/KnowledgeBowl/KBRegionalConfig.swift
  UnaMentis/Core/KnowledgeBowl/KBSession.swift
  UnaMentis/Core/Purchases/KBFeatureFlags.swift
  UnaMentis/Core/Purchases/KBPremiumFeatures.swift
  UnaMentis/Core/Watch/WatchConnectivityService.swift
  UnaMentis/Services/KnowledgeBowl/Algorithms/KBLinguisticMatcher.swift
  UnaMentis/Services/KnowledgeBowl/Algorithms/KBNGramMatcher.swift
  UnaMentis/Services/KnowledgeBowl/Algorithms/KBPhoneticMatcher.swift
  UnaMentis/Services/KnowledgeBowl/Algorithms/KBTokenMatcher.swift
  UnaMentis/Services/KnowledgeBowl/Data/KBSynonymDictionaries.swift
  UnaMentis/Services/KnowledgeBowl/KBAnswerValidator.swift
  UnaMentis/Services/KnowledgeBowl/KBOnDeviceTTS.swift
  UnaMentis/Services/KnowledgeBowl/KBSessionStore.swift
  UnaMentis/Services/KnowledgeBowl/ML/KBEmbeddingsService.swift
  UnaMentis/Services/KnowledgeBowl/ML/KBLLMValidator.swift
  UnaMentis/UI/KnowledgeBowl/KBDashboardView.swift
  UnaMentis/UI/KnowledgeBowl/KBEnhancedValidationSetupView.swift
  UnaMentis/UI/KnowledgeBowl/KBOralSessionView.swift
  UnaMentisTests/Unit/KnowledgeBowl/Validation/KBLinguisticMatcherTests.swift
  UnaMentisTests/Unit/KnowledgeBowl/Validation/KBNGramMatcherTests.swift
  UnaMentisTests/Unit/KnowledgeBowl/Validation/KBPhoneticMatcherTests.swift
  UnaMentisTests/Unit/KnowledgeBowl/Validation/KBSynonymDictionariesTests.swift
  UnaMentisTests/Unit/KnowledgeBowl/Validation/KBTokenMatcherTests.swift
  docs/AI_MODEL_SELECTION_2026.md
  docs/knowledgebowl/validation_test_vectors.json
  docs/modules/KNOWLEDGE_BOWL_ANSWER_VALIDATION.md
  docs/modules/KNOWLEDGE_BOWL_ARCHITECTURE.md
  docs/modules/KNOWLEDGE_BOWL_MODULE.md
  docs/modules/KNOWLEDGE_BOWL_MODULE_SPEC.md
  docs/modules/KNOWLEDGE_BOWL_TEAM_COORDINATION.md
  docs/testing/KNOWLEDGE_BOWL_VALIDATION_TESTING.md
  docs/user-guides/KNOWLEDGE_BOWL_ENHANCED_VALIDATION.md
  scripts/add-files-to-xcode.py
  scripts/test-model-parity.sh
  server/web/app/management/models/page.tsx
Due: ios, web-client

feat: Implement a new TTS Lab for TTS model experimentation and configuration management, including new API endpoints, UI components, and documentation.
  docs/server/TTS_LAB_GUIDE.md
  docs/server/VOICE_LAB_GUIDE.md
  server/management/server.py
  server/management/tts_lab_api.py
  server/web/src/app/management/models/page.tsx
  server/web/src/app/management/tts-lab/page.tsx
  server/web/src/components/dashboard/dashboard.tsx
  server/web/src/components/dashboard/model-selection-panel.tsx
  server/web/src/components/dashboard/nav-tabs.tsx
  server/web/src/components/dashboard/tts-lab-panel.tsx
  server/web/src/components/ui/card.tsx
  server/web/src/components/ui/input.tsx
  server/web/src/components/ui/label.tsx
  server/web/src/components/ui/select.tsx
  server/web/src/components/ui/slider.tsx
  server/web/src/components/ui/tabs.tsx
  server/web/src/components/ui/textarea.tsx
Due: management, web-client

feat(knowledge-bowl): implement Phase 2 training modes, match simulation, and analytics UI
  UnaMentis.xcodeproj/project.pbxproj
  UnaMentis/Core/KnowledgeBowl/KBSession.swift
  UnaMentis/Services/KnowledgeBowl/KBAnalyticsService.swift
  UnaMentis/Services/KnowledgeBowl/KBConferenceManager.swift
  UnaMentis/Services/KnowledgeBowl/KBMatchEngine.swift
  UnaMentis/Services/KnowledgeBowl/KBReboundSimulator.swift
  UnaMentis/Services/KnowledgeBowl/KBSessionManager.swift
  UnaMentis/UI/KnowledgeBowl/KBConferenceTrainingView.swift
  UnaMentis/UI/KnowledgeBowl/KBDomainDrillView.swift
  UnaMentis/UI/KnowledgeBowl/KBDomainMasteryView.swift
  UnaMentis/UI/KnowledgeBowl/KBMatchSimulationView.swift
  UnaMentis/UI/KnowledgeBowl/KBOralSessionView.swift
  UnaMentis/UI/KnowledgeBowl/KBProgressView.swift
  UnaMentis/UI/KnowledgeBowl/KBReboundTrainingView.swift
  UnaMentis/UI/KnowledgeBowl/KBTrendChartView.swift
  UnaMentisTests/Integration/KnowledgeBowl/KBAnswerValidationIntegrationTests.swift
  UnaMentisTests/Integration/KnowledgeBowl/KBSessionIntegrationTests.swift
Due: ios

feat(knowledge-bowl): add in-app help system and establish voice-first UI direction
  UnaMentis/Services/KnowledgeBowl/KBAnswerValidator.swift
  UnaMentis/Services/KnowledgeBowl/KBQuestionEngine.swift
  docs/modules/KNOWLEDGE_BOWL_MODULE_SPEC.md
  docs/user-guides/KNOWLEDGE_BOWL_USER_GUIDE.md
Due: ios

feat(knowledge-bowl): add in-app help system and establish voice-first UI direction
  UnaMentis Watch App/Views/KnowledgeBowl/KBWatchMainView.swift
  UnaMentis Watch App/Views/KnowledgeBowl/KBWatchQuickSessionView.swift
  UnaMentis.xcodeproj/project.pbxproj
  UnaMentis/Modules/KnowledgeBowl/Views/KBDashboardView.swift
  UnaMentis/UI/KnowledgeBowl/KBConferenceTrainingView.swift
  UnaMentis/UI/KnowledgeBowl/KBDashboardView.swift
  UnaMentis/UI/KnowledgeBowl/KBDomainDrillView.swift
  UnaMentis/UI/KnowledgeBowl/KBDomainMasteryView.swift
  UnaMentis/UI/KnowledgeBowl/KBHelpContent.swift
  UnaMentis/UI/KnowledgeBowl/KBHelpSheet.swift
  UnaMentis/UI/KnowledgeBowl/KBMatchSimulationView.swift
  UnaMentis/UI/KnowledgeBowl/KBOralSessionView.swift
  UnaMentis/UI/KnowledgeBowl/KBProgressView.swift
  UnaMentis/UI/KnowledgeBowl/KBReboundTrainingView.swift
  UnaMentis/UI/KnowledgeBowl/KBTrendChartView.swift
  UnaMentis/UI/KnowledgeBowl/KBWrittenSessionView.swift
  UnaMentis/UI/Settings/HelpView.swift
Due: ios

PR issues addressed
  POCKET_TTS_INTEGRATION_STATUS.md
  UnaMentis/Core/Device/DeviceCapability.swift
  UnaMentis/Core/KnowledgeBowl/KBSession.swift
  UnaMentis/Services/KnowledgeBowl/ML/KBEmbeddingsService.swift
  UnaMentis/Services/KnowledgeBowl/ML/KBLLMValidator.swift
  UnaMentis/Services/TTS/KyutaiPocketTTSService.swift
  UnaMentis/UI/KnowledgeBowl/KBEnhancedValidationSetupView.swift
Due: ios

feat: Wire up batch TTS generation UI in Voice Lab for Knowledge Bowl audio files
  docs/architecture/PROJECT_OVERVIEW.md
  docs/server/VOICE_LAB_GUIDE.md
  server/web/src/app/api/tts/pregen/extract/route.ts
  server/web/src/app/api/tts/pregen/jobs/[jobId]/items/route.ts
  server/web/src/app/api/tts/pregen/jobs/[jobId]/pause/route.ts
  server/web/src/app/api/tts/pregen/jobs/[jobId]/progress/route.ts
  server/web/src/app/api/tts/pregen/jobs/[jobId]/resume/route.ts
  server/web/src/app/api/tts/pregen/jobs/[jobId]/retry-failed/route.ts
  server/web/src/app/api/tts/pregen/jobs/[jobId]/route.ts
  server/web/src/app/api/tts/pregen/jobs/[jobId]/start/route.ts
  server/web/src/app/api/tts/pregen/jobs/route.ts
  server/web/src/components/dashboard/tts-lab-panel.tsx
  server/web/src/components/tts-pregen/batch-job-card.test.tsx
  server/web/src/components/tts-pregen/batch-job-card.tsx
  server/web/src/components/tts-pregen/batch-job-create-form.test.tsx
  server/web/src/components/tts-pregen/batch-job-create-form.tsx
  server/web/src/components/tts-pregen/batch-job-items-list.test.tsx
  server/web/src/components/tts-pregen/batch-job-items-list.tsx
  server/web/src/components/tts-pregen/batch-job-panel.test.tsx
  server/web/src/components/tts-pregen/batch-job-panel.tsx
  server/web/src/components/ui/help-button.tsx
  server/web/src/lib/api-client.ts
  server/web/src/lib/batch-job-api.test.ts
  server/web/src/types/tts-pregen.test.ts
  server/web/src/types/tts-pregen.ts
Due: web-client

test: Add comprehensive unit tests for KBQuestionsRepository's domain and question management, and update project configuration.
  UnaMentis.xcodeproj/project.pbxproj
  server/management/tests/test_kb_packs_api.py
  server/management/tests/test_kb_questions_repository.py
  server/web/src/components/ui/portal.tsx
Due: management, web-client

feat: Implement Knowledge Bowl offline mode indicator, audio question reading, and local team synchronization, with updated documentation.
  UnaMentis/Modules/KnowledgeBowl/Services/KBQuestionService.swift
  UnaMentis/Modules/KnowledgeBowl/Views/KBDashboardView.swift
  UnaMentis/Services/KnowledgeBowl/Team/KBLocalTeamSync.swift
  UnaMentis/UI/KnowledgeBowl/KBColors.swift
  UnaMentis/UI/KnowledgeBowl/KBDomainDrillView.swift
  UnaMentis/UI/KnowledgeBowl/KBReboundTrainingView.swift
  docs/api-spec/README.md
  docs/architecture/PROJECT_OVERVIEW.md
  docs/client-spec/11-KNOWLEDGE_BOWL.md
  docs/client-spec/README.md
Due: ios

feat: Implement local question pack creation, selection, domain mixing, and quickstart settings.
  UnaMentis.xcodeproj/project.pbxproj
  UnaMentis/Core/KnowledgeBowl/KBDomainMix.swift
  UnaMentis/Core/KnowledgeBowl/KBLocalPackStore.swift
  UnaMentis/Core/KnowledgeBowl/KBPack.swift
  UnaMentis/Core/KnowledgeBowl/KBQuestion.swift
  UnaMentis/Core/KnowledgeBowl/KBRegionalConfig.swift
  UnaMentis/Services/KnowledgeBowl/KBPackService.swift
  UnaMentis/UI/Components/HelpComponents.swift
  UnaMentis/UI/KnowledgeBowl/KBCreatePackView.swift
  UnaMentis/UI/KnowledgeBowl/KBDashboardView.swift
  UnaMentis/UI/KnowledgeBowl/KBDomainMixView.swift
  UnaMentis/UI/KnowledgeBowl/KBHelpContent.swift
  UnaMentis/UI/KnowledgeBowl/KBPackPickerView.swift
  UnaMentis/UI/KnowledgeBowl/KBQuickstartSettingsView.swift
  UnaMentis/UI/Settings/HelpView.swift
Due: ios

test: remove redundant super.setUp and super.tearDown calls from KBLocalTeamSyncTests.
  UnaMentisTests/Unit/KnowledgeBowl/KBLocalTeamSyncTests.swift
Due: none

feat: Implement multi-tier server discovery including cached, Bonjour, subnet scan, and QR code methods with corresponding UI and server-side support.
  UnaMentis.xcodeproj/project.pbxproj
  UnaMentis/Core/Config/ServerConfigManager+Discovery.swift
  UnaMentis/Core/Discovery/DeviceDiscoveryManager.swift
  UnaMentis/Core/Discovery/DiscoveryTier.swift
  UnaMentis/Core/Discovery/Models/DiscoveredServer.swift
  UnaMentis/Core/Discovery/Tiers/BonjourDiscovery.swift
  UnaMentis/Core/Discovery/Tiers/CachedServerDiscovery.swift
  UnaMentis/Core/Discovery/Tiers/SubnetScanDiscovery.swift
  UnaMentis/Info.plist
  UnaMentis/UI/Settings/DiscoveryProgressView.swift
  UnaMentis/UI/Settings/QRCodeScannerView.swift
  UnaMentis/UI/Settings/ServerSettingsView.swift
  UnaMentis/UnaMentisApp.swift
  scripts/xcode-project-helper.rb
  server/management/bonjour_advertiser.py
  server/management/pyproject.toml
  server/management/server.py
Due: ios, management

refactor: ensure capture session is strongly referenced during asynchronous start and stop operations.
  UnaMentis/UI/Settings/QRCodeScannerView.swift
  server/management/tests/test_bonjour_advertiser.py
  server/management/tests/test_server_extended.py
Due: ios, management

feat: introduce KBAudioTestHarness for comprehensive audio Q&A pipeline testing, including audio generation, injection, transcription, and validation.
  UnaMentis.xcodeproj/project.pbxproj
  UnaMentis/Core/KnowledgeBowl/KBQuestion.swift
  UnaMentis/Services/KnowledgeBowl/KBAnswerValidator.swift
  UnaMentis/Services/KnowledgeBowl/ML/KBLLMValidator.swift
  UnaMentis/Testing/KBAudioTestHarness/CLAUDE.md
  UnaMentis/Testing/KBAudioTestHarness/KBAudioGenerator.swift
  UnaMentis/Testing/KBAudioTestHarness/KBAudioInjector.swift
  UnaMentis/Testing/KBAudioTestHarness/KBAudioTestCase.swift
  UnaMentis/Testing/KBAudioTestHarness/KBAudioTestHarness.swift
  UnaMentis/Testing/KBAudioTestHarness/KBAudioTestResult.swift
  UnaMentis/Testing/KBAudioTestHarness/KBTranscriptValidator.swift
  UnaMentisTests/Integration/KBAudioTestHarness/KBAudioTestHarnessTests.swift
Due: ios

feat: Implement voice activity feedback and command recognition, and add co-agent quality and hands-free design documentation.
  CLAUDE.md
  UnaMentis.xcodeproj/project.pbxproj
  UnaMentis/Services/Voice/VoiceActivityFeedback.swift
  UnaMentis/Services/Voice/VoiceCommandRecognizer.swift
  UnaMentis/UI/KnowledgeBowl/KBOralSessionView.swift
  UnaMentisTests/Unit/Services/Voice/VoiceCommandRecognizerTests.swift
  docs/design/HANDS_FREE_FIRST_DESIGN.md
  docs/ios/IOS_STYLE_GUIDE.md
  docs/quality/co-agent/QUALITY_CO_AGENT_MASTER.md
Due: ios
